@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700,800");
@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Work+Sans:wght@100;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Work+Sans:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Work+Sans:wght@100&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Lato", sans-serif;
}
.smallCircle {
  position: absolute;
  top: -100px;
  width: 15em;
  height: 15em;
  border-radius: 50%;
  background: #6df4da;
  margin-left: 30em;
  opacity: 0.7;
}
.thirdCircle {
  position: absolute;
  bottom: 80px;
  right: -2em;
  width: 15em;
  height: 15em;
  /* margin-left: 62em; */
  border-radius: 50%;
  background: #ef767a;
}
.circle {
  position: absolute;
  top: -200px;
  left: -65px;
  width: 54em;
  height: 54em;
  border-radius: 50%;
  background: #090c9b;
  /* margin-left: -150px; */
}
section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  /* transition: 0.5s; */
}
#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-family: "Lato", sans-serif;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header h4 {
  color: #fff;
  margin-top: 10px;
  text-indent: 15px;
  font-family: "Fredericka the Great", cursive;
}

#header ul {
  position: relative;
  display: flex;
}
#header ul li {
  list-style: none;
}
#header ul li a {
  display: inline-block;
  color: #291f1e;
  margin-left: 40px;
  margin-top: 20px;
  text-decoration: none;
}
.btn-outline-primary {
  margin-left: 40px;
  position: relative;
  margin-top: 12px;
}

.content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content .textBox {
  position: relative;
  max-width: 600px;
  margin-bottom: 100px;
  margin-top: 90px;
}
.content .textBox h3 {
  color: #fff;
  font-size: 4em;
  line-height: 1.2em;
  font-family: "Work Sans", sans-serif;
  font-weight: bolder;
  margin-top: 50px;
}
.content .textBox h2 span {
  color: #fff;
  font-size: 2em;
  font-family: "Open Sans", sans-serif;
}
.content .textBox p {
  color: #fff;
  margin-top: 30px;
  width: 25em;
  font-weight: 300;
  font-family: "Lato", sans-serif;
}
.content .textBox a {
  display: inline-block;
  padding: 10px 30px;
  background: #fff;
  color: #068cfa;
  margin-top: 10px;
  border-radius: 7px;
  font-weight: 600;
  font-size: 1em;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  margin-bottom: 50px;
}
.imgBox {
  position: absolute;
}
.img1 {
  /* height: 520px; */
  width: 900px;
  margin-left: 27em;
}

/* Adding Styling for the Third Page*/
/*Editing Circle*/
.medium {
  position: absolute;
  margin-left: 30em;
  margin-top: 30em;
}
.small {
  position: absolute;
  margin-bottom: 10em;
  margin-left: -30px;
}
.larger {
  position: absolute;
  width: 40em;
  margin-left: 40em;
  margin-top: 4.5em;
}
.events {
  background-color: #ef767a;
}
.circleBtn {
  border-radius: 50%;
  padding: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3vw;
  height: 3vw;
  font-size: 2vw;
  outline: none;
  border: none;
  background-color: white;
  color: #ef767a;
  text-decoration: none;
  margin-top: 50px;
  margin-left: 40px;
}
a .circleBtn :hover {
  text-decoration: none !important;
}
.textBox2 h4 {
  color: #fff;
  font-size: 3em;
  line-height: 1.2em;
  font-family: "Work Sans", sans-serif;
  font-weight: 900;
  margin-left: 40px;
  margin-top: 150px;
}
.textBox2 p {
  color: #fff;
  margin-top: 40px;
  margin-left: 40px;
  font-size: larger;
  width: 25em;
  font-weight: 300;
  font-family: "Lato", sans-serif;
}
/* Kritika Designing*/
.collegeLife {
  background-color: #f7f7f7;
}
.purpleWave {
  margin-left: -5em;
  margin-top: -5em;
  margin-bottom: -2em;
}
.pic1 {
  position: absolute;
  width: 15vw !important;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1) !important;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid rgba(22, 14, 0, 0.068);
  margin: 2vh 4vw 0;
  padding: 1.2vh 0.7vw 6vh;
  transform: rotate(14.1968deg);
  margin-top: -50em;
}
.pic2 {
  position: absolute;
  width: 15vw !important;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1) !important;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid rgba(22, 14, 0, 0.068);
  margin: 2vh 4vw 0;
  padding: 1.2vh 0.7vw 6vh;
  margin-top: -38em;
  margin-left: 25em;
  transform: rotate(-6.24684deg);
}
.pic3 {
  position: absolute;
  width: 15vw !important;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1) !important;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid rgba(22, 14, 0, 0.068);
  margin: 2vh 4vw 0;
  padding: 1.2vh 0.7vw 6vh;
  margin-top: -25em;
  margin-left: 8em;
  transform: rotate(-6.24684deg);
}
.desc3 {
  position: relative;
  max-width: 600px;
  margin-top: -40em;
}
.content2 {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.desc3 h3 {
  color: #291f1e;
  font-size: 3em;
  font-weight: 900;
  font-family: "Lato", sans-serif;
  margin: 0 0 2rem 0;
}

.desc3 p {
  line-height: 25px;
  letter-spacing: 0.4px;
  width: 18rem;
  margin: 0 0 2rem 0;
}

.desc3 button {
  border-radius: 50%;
  border: none;
  background-color: #5e4ae3;
  width: 5rem;
  height: 5rem;
  box-shadow: 1px 4px 16px #5e4ae3ad;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
}

.desc3 button > img {
  width: 2.4rem;
}
/* Our Guides*/

.our-guides {
  position: relative;
  background-color: #defff8;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 7rem 0 0 0;
}

.content4 {
  display: flex;
  gap: 10rem;
  justify-content: flex-end;
}

.teacher-pics {
  position: absolute;
  left: 10rem;
  display: flex;
  flex-direction: column;
}

.teacher-pics img {
  width: 12rem;
}

.pic01,
.pic02,
.pic03 {
  border: 1rem solid #51f3d3;
  border-bottom: 2.5rem solid #51f3d3;
  border-radius: 0.5rem;
}

.pic01 {
  transform: rotate(10deg);
  width: max-content;
}

.pic02 {
  transform: rotate(-10deg);
  margin-left: 20rem;
}

.pic03 {
  transform: rotate(-5deg);
  width: max-content;
}

.desc4 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: 8rem 8rem 0 0;
}

.title4 {
  font-family: "Work Sans", sans-serif;
  font-size: 3em;
  color: #291f1e;
}

.desc4 span:nth-child(2) {
  color: #291f1e;
  font-family: "Lato", sans-serif;
}

.desc4 button {
  border-radius: 50%;
  border: none;
  background-color: #090c9b;
  width: 5rem;
  height: 5rem;
  box-shadow: 1px 4px 16px #090b9b91;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
}

.desc4 button > img {
  width: 2.4rem;
}

.desc4 button:hover {
  transform: scale(1.1, 1.1);
}

/*Modal Styling*/
.modal-content {
  height: 25em;
}
.modal-title,
.modal-body p {
  color: black;
}
.modal-title {
  font-weight: 700;
  font-size: x-large;
}
#email {
  margin-top: 35px;
  width: 70%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: #f3f3ff;
}
#password {
  margin-top: 28px;
  width: 70%;
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: #f3f3ff;
}
.signText {
  margin-top: 30px;
}
