@import "../base";

.marquee-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  .marquee-content {
    width: 100%;
    display: flex;
    align-items: flex-start;
    .marquee-element {
      display: flex;
      padding: 1rem;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
    }
  }
}
