
@import '../base';

.marquee-container{
    position: relative;
    overflow: hidden;
    .marquee-content{
        width: 100%;
        height: 100%;
        display: flex;
        .marquee-element{
            display:flex;
            padding:1rem;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            height: 100%;
            box-sizing: border-box;
        }
    }
}
