.hslider {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: sticky;
  top:0;
  .hslider-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .hslider-slide {
      width: 100%;
      height: 100%;
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .hslider-controller {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    top:40%;
    gap:1rem;
    padding: 1rem;
    .dot-container{
      display: flex;
      align-items: center;
      position: relative;
      font-size: 1rem;
      .dot {
        width: 0.75rem;
        height:0.75rem;
        border-radius: 50%;
        background-color: aquamarine;
        box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
        outline : none;
        border: 0;
      }
      .dot-info{
        z-index:3;
        position: absolute;
        top:50%;
        transform : translateY(-50%);
        left:30px;
        width: 200px;
      }
    }
  }
}
