@import '../../base';


#hero-section{
    @extend %trans;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 4rem 0;
    color: $color-content-light;
    .hero-content{
        width: 60%;
        padding : 2rem 0;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        text-align: center;
        h1{
            span{
                color: $color-orange;
            }
        }
    }
    img{
        width: 50%;
        align-self: center;
    }
}

// #hero-section::after{
//     width: 100%;
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     content:"after";
//     z-index: -1;
//     background-color: $color-blue;
//     border: 2rem black solid;
//     border-width: 2rem 2rem 2rem 2rem;
//     border-color: black;
// }

#hero-section::before{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: $color-blue;
    content:"";
    z-index: -1;
    transform: skewY(-5deg);
    transform-origin: -75% 0;
}

@media (min-width:$desktop){
    #hero-section{
        margin-bottom : 6rem;
        h1{
            margin:0.5rem 0rem;
        }
    }
}

@media (max-width:$tablet) {
    #hero-section{
        .hero-content{
            width: 80%;
        }
        img{
            width: 80%;
        }
    }
    #hero-section::before{
        transform: skewY(-11deg);
        transform-origin: -60% 0;           
    }
}

@media (max-width:$mobile) {
    #hero-section{
        padding-top: 4rem;
        height: calc(100vh - 200px);
        .hero-content{
            width: 80%;
        }
        img{
            width: 80%;
        }
    }
    #hero-section::before{
        transform: skewY(-19deg);
        transform-origin: -100% -0%;    
    }
}