.team-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 4rem 0;
    margin: 6rem 0;
    align-items: center;
    justify-content: center;
    h2{
        margin: 4rem 0;
    }
}

.team-card{
    min-width: 14rem;
    border:1px rgba(0,0,0,0.1) solid;
    border-radius: 0.5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .profile-img{
        width:4rem;
        height: 4rem;
        padding : 0.25rem;
        border:1px rgba(0,0,0,0.5) solid;
        border-radius: 50%;
        img{
            width: 100%;
            object-fit: contain;
            border-radius: 50%;
        }
    }
}
