@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap");
@import "../base";

@import url("https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap");

@font-face {
  font-family: "Lato-Regular";
  src: url("../fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato-Bold";
  src: url("../fonts/Lato-Bold.ttf");
}

@font-face {
  font-family: "Work-Sans-Semibold";
  src: url("../fonts/WorkSans-SemiBold.ttf");
}

:root {
  --primary-font: Work-Sans-Semibold;
  --secondary-font: Lato-Regular;
  --tertiary-font: Lato-Bold;
}

.bottom-right{
  position:absolute;
  right:0;
  bottom:0;
}


.clg-life {
  /* page 1 start */
  .container-1 {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    h2{
      align-self:center;
      text-align: center;
      font: 4rem "Homemade Apple", cursive;
      color: #fd8901;
      }
    .page1-bg {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      z-index: 0;
    }
  }

  .section {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;

    .main-content {
      margin-top : calc(100px + 10vh);
      width:80%;
      align-self:center;
      display: flex;
      flex-direction: column;
      gap: 3rem;
      z-index:1;
      h3 {
        font: 3rem var(--primary-font);
        margin: 0 ;
      }
      p {
        font: 1.1rem var(--secondary-font);
        width: 50%;
        letter-spacing: 0.27px;
        line-height: 26px;
        margin-bottom: 2rem;
      }
    }
  }

  .container-2{
    background-color: #cee9ff;
    color: #1b1f3b;
  }
  .container-3 {
    background-color: #e7fff0;
    color: #1b1f3b;
  }
  .container-4 {
    background-color: #e7e8ff;
    color: #1b1f3b;
  }
  .container-5 {
    background-color: #fffcd6;
    color: #1b1f3b;
  }
  .container-6 {
    color: #1b1f3b;
    background-color: #ffedf0;
  }

  .page3-bg1{
    position:absolute;
    left:0;
    bottom:0;
    max-height:65%;
    max-width: 100%;
  }

  .page2-bg, .page3-bg2,.page4-bg,.page5-bg,.page6-bg{
    position:absolute;
    right:0;
    bottom:0;
    max-height:65%;
    max-width: 100%;
  }
 
  /* cards */
  .cards {
    background-color: rgba(255,255,255,0.9);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    min-height: 8rem;
    padding: 1rem 1rem 2rem 1rem;
    width:100%;
    display: flex;  
    flex-direction: column;
    gap: 0.8rem;
    border-radius: 0.5rem;
    font-size: smaller;
  }

 .card-title {
    display: flex;
    align-items: center;
    gap: 0.7rem;
  }
  .dp{
    border-radius: 50%;
    background-color: #a3a3ff;
    width: 30px;
    height: 30px;
  }

  .display-name {
    letter-spacing: 0.7px;
    color: #1b1f3b;
  }

  .review-text {
    line-height: 1.25rem;
    letter-spacing: 0.3px;
  }

  .clouds{
    position: absolute;
    top:0;
    width:60%;
    margin-top: 15vh;
  }
}


@media screen and (max-width: $desktop){
  .clg-life{
    .section{
      .main-content{
        margin-top : calc(100px + 7vh);
        p{
          width: 70%;
        }
      }
    }
  }
}

@media screen and (max-width : $tablet){
  .clg-life{
    .container-1{
      h2{
        font-size: 3rem;
      }
    }
    .section{
      .main-content {
        margin-top : calc(100px + 5vh);
        gap:2rem;
        h3 {
          font: 2.5rem var(--primary-font);
          margin: 0 ;
        }
        p {
          font: 1rem var(--secondary-font);
          width: 60%;
          line-height: 1.5rem;
        }
      }    
    }
    .clouds{
      width:70%;
    }
  
  }
}


@media screen and (max-width : $mobile){
  .clg-life{
    .container-1{
      h2{
        font-size: 2rem;
      }
    }
    .section{
      .main-content {
        gap:1.5rem;
        p {
          width: 100%;
        }
      }    
    }
    .page3-bg1{
      position:absolute;
      left:0;
      bottom:0;
      max-height:30%;
      max-width: 100%;
    }  
    .page2-bg, .page3-bg2,.page4-bg,.page5-bg,.page6-bg{
      position:absolute;
      right:0;
      bottom:0;
      max-height:50%;
      max-width: 80%;  
    }
    .clouds{
      width:80%;
      margin-top: 10vh;
    }
  }
}