@import "../base";

.explore-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  max-height: 100vh;
  max-width: 70%;
}

#explore{
    display: flex;
    padding: 8rem 0;
    justify-content: center;
    .explore-content{
        width: 100%;
        display: flex;
        gap:10rem;
        flex-direction: column;
        .top{
            width:60%;
            align-self: flex-end;
        }
        .explore-cards{
            display: flex;
            gap:4rem;
            align-self: center;
        }
    }
}

.explore-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 16rem;
    height: 16rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
    padding: 1rem;
    transition: transform 0.2s ease-out;
    .card-img{
        width: 100%;
        height: 80%;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .card-title{
        text-transform: uppercase;
    }
}

.explore-card:hover{
    transform: scale(1.1);
}

@media screen and (max-width : $tablet) {
    #explore{
        .explore-content{
            gap:6rem;
            .top{
                text-align: center;
                width:100%;
            }
            .explore-cards{
                width:80%;
                flex-direction: column;
                gap:2rem;
            }
        }
    }
    .explore-card{
        width: 100%;
        height: 10rem;
    }    
}