@import "../base";

.explore-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  max-height: 100vh;
  max-width: 70%;
}

#explore {
  display: flex;
  padding: 8rem 0;
  justify-content: center;
  .explore-content {
    width: 100%;
    display: flex;
    gap: 10rem;
    flex-direction: column;
    .top {
      width: 60%;
      align-self: flex-end;
    }
    .explore-cards {
      display: flex;
      gap: 4rem;
      align-self: center;
    }
  }
}

.explore-card {
  display: inline-block;
  max-width: 208.333px;
  min-width: 208.333px;
  max-height: 270px;
  border-radius: 10px;
  transition: transform 0.2s ease-out;
  .card-img {
    width: 100%;
    height: 70%;
    img {
      width: 90%;
      height: 85%;
      margin: 10px;
      object-fit: cover;
      border-radius: 8px;
    }
  }
  .card-title {
    color: #fff;
    font-size: 20px;
    text-align: center;
    margin-top: -3px;
    padding: 0 5px 0 5px;
  }
}

.explore-card:hover {
  transform: scale(1.1);
}

@media screen and (max-width: $tablet) {
  #explore {
    .explore-content {
      gap: 6rem;
      .top {
        text-align: center;
        width: 100%;
      }
      .explore-cards {
        width: 80%;
        flex-direction: column;
        gap: 2rem;
      }
    }
  }
  .explore-card {
    width: 100%;
    height: 10rem;
 }
 .MuiDialog-paperWidthSm {
  min-width: 26rem;
}

 // Making Dialog content responsive
 .li1{
    margin-left: -10rem;
    
 }
 .li1 p{
   max-width: 15rem;
   max-height: 3rem;
   margin-left: -1.2rem !important;
   padding: 0 0.5rem 0 0;
  }
 .li1 h5{
max-width: 15rem;
max-height: 3rem;
margin-left: -1.2rem !important;

}
 
}

//Modal Design
.explore-card {
  cursor: pointer !important;
}

.MuiDialog-paperWidthSm {
    width: 40% !important;
    height: 60% !important;
}
.MuiTypography-h6 {
  text-align: center;
  font-size: 1.5rem !important;
}
.items{
  text-align: center;
  list-style-type: none;
}
.li1{
  margin-left: 0px;
  padding-left: 0px;
  display: flex;
  width: 100%;
  height: 6rem;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 11px 0px;
}
.li1 p{
  font-size: 10px;
  float: right;
  width: 15rem;
  margin-top: -20px;
  margin-left: -0.7rem;
   text-align: left justify;
  text-justify: inter-word;

}
.linkit{
  width: 100%;
  display: flex;
}
.li1 h5{
  margin-left: -0.7rem;
  margin-top: 0.5rem !important;
  color: #FD6E6E;
}
.img1{
  height: 6rem;
  overflow: hidden;
  float: left;
  margin-right: 30px;
  border-radius: 10px;
}
.text{
  margin: 0;
  width: 100% ;
  display: flex;
  flex-direction: column;
  text-align: left;

}
li:hover{
  background-color: #f0ededee;
  cursor: pointer;
}