@import "../base";

.notes-page{
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-bottom: 4rem;

    .notes-hero{
        padding : 2rem;
        display: flex;
        background-color: #D9FFFF;
        border-radius: 2rem;
        justify-content: space-between;
        .notes-ft-img, .notes-headline{
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 60%;
            }
        }
    }

    .notes-index{
        background-color: #F2F2FF;
        display: flex;
        gap:2rem;
        flex-direction: column;
        padding: 2rem;
        width: 25%;
        border-radius: 0.5rem;
    }

    .notes-content{
        display:flex;
        gap: 2rem;
        .notes-pdf-container{
            width: 75%;
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            gap: 1rem;
            .notes-pdf{
                width: 12rem;
                height: 12rem;
                border-radius: 0.5rem;
                background-color: #F2F2FF;
            }
        }
    }


}

@media  screen and (max-width: $tablet) {
    .notes-page{
        padding: 4rem 0;
        gap: 2rem;
    
        .notes-hero{
            flex-direction: column-reverse;
            padding : 2rem;
            border-radius: 2rem;
            gap: 2rem;
            .notes-ft-img, .notes-headline{
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .notes-ft-img{
                justify-content: flex-end;
            }
        }

        .notes-index{
            gap:2rem;
            // padding: 2rem;
            width: 50%;
            background-color: #999;
            border-radius: 0.5rem;
        }

        .notes-content{
            gap: 2rem;
            .notes-pdf-container{
                display: flex;
                flex-wrap: wrap;
                align-content: flex-start;
                gap: 1rem;
                width: 100%;
                .notes-pdf{
                    width: 10rem;
                    height: 10rem;
                    border-radius: 0.5rem;
                    background-color: #F2F2FF;
                }
            }
        }
    
    
    }
    
    
}

@media  screen and (max-width: $mobile) {
    .notes-page{
        padding: 2rem 0;
        gap: 2rem;
    
        .notes-index{
            gap:1rem;
            width: 100%;
            background-color: #999;
            border-radius: 0.5rem;
        }

        .notes-content{
            gap: 2rem;
            .notes-pdf-container{
                display: flex;
                flex-wrap: wrap;
                align-content: flex-start;
                gap: 1rem;
                .notes-pdf{
                    width: 10rem;
                    height: 10rem;
                    border-radius: 0.5rem;
                    background-color: #F2F2FF;
                }
            }
        }
    
    
    }
    
    
}
