@import "./../base";

.layout {
  color: $color-content-dark;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: $font-content;
  font-size: medium;
  .main {
    width: 100%;
    flex-grow: 1;
  }
  footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    background-color: $color-orange;
  }

  header {
    background-color: $color-blue;
    display: flex;
    justify-items: center;
    justify-content: center;
    width: 100%;
    overflow-x: hidden;
    height: 100px;
    .header-content {
      width: 80%;
      display: flex;
      justify-items: center;
      align-items: center;
      justify-content: space-between;
      .nav-links {
        display: flex;
        justify-items: flex-end;
        align-items: center;
      }
      .nav-link {
        color: $color-content-light;
        padding: 0.5rem 1rem;
        margin: 0rem 1rem;
        position: relative;
      }
      .nav-link::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        background-color: $color-content-light;
        visibility: hidden;
        transform: scaleX(0) translateY(-0.5rem);
        transition: all 0.3s ease-in-out;
        transform-origin: 0%;
      }
      .nav-link:hover:before {
        visibility: visible;
        transform: scaleX(1) translateY(-0.5rem);
      }
      .sign-up {
        border: $color-content-light 0.05rem solid;
        border-radius: 0.25rem;
        transition: all 0.3s ease-in-out;
      }
      .sign-up:hover {
        color: $color-blue;
        background-color: $color-content-light;
      }
    }
  }
  #logo {
    width: 100px;
    font-family: $font-logo;
    margin: 0rem 0.5rem;
    color: $color-content-light;
    // text-align: center;
  }
}

/*Nav Link Animation*/
// .middle {
//     position: relative;
//   }

//   .nav-links a:hover {
//     text-decoration: none;
//   }

//   a.middle::before {
//     content: "";
//     position: absolute;
//     width: 100%;
//     height: 1.2px;
//     bottom: -8px;
//     left: 0;
//     background-color: #000;
//     visibility: hidden;
//     transform: scaleX(0);
//     transition: all 0.3s ease-in-out;
//   }

//   a.middle:hover:before {
//     visibility: visible;
//     transform: scaleX(1);
//   }
/*NAv Link Animation Ends*/

@media (min-width: 768px) and (max-width: $tablet) {
  .layout {
    header {
      .header-content {
        width: 90%;
        .nav-link {
          padding: 0.5rem 1rem;
          margin: 0rem 0.25rem;
        }
      }
    }
    #logo {
      width: 100px;
      font-family: $font-logo;
      margin: 0rem 0.25rem;
      // text-align: center;
    }
  }
}

@media (max-width: $mobile) {
  .layout {
    header {
      font-size: small;
      height: 80px;
      .header-content {
        width: 90%;
        .nav-link {
          padding: 0.25rem 0.5rem;
          margin: 0rem 0.25rem;
        }
      }
    }
    #logo {
      width: 80px;
      margin: 0rem 0.25rem;
      // text-align: center;
    }
  }
}
