@import "./../base";

.layout {
  color: $color-content-dark;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: $font-content;
  font-size: medium;
  min-height: 100vh;
  .main {
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
  footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    background-color: $color-orange;
  }

  header {
    display: flex;
    justify-items: center;
    justify-content: center;
    width: 100%;
    overflow-x: hidden;
    height: 100px;
    z-index: 2;
    .header-content {
      width: 80%;
      color: $color-orange;
      display: flex;
      justify-items: center;
      align-items: center;
      justify-content: space-between;
      .nav-links {
        display: flex;
        justify-items: flex-end;
        align-items: center;
        .nav-link {
          padding: 0.5rem 1rem;
          color: $color-orange;
          margin: 0rem 1rem;
          position: relative;
        }
        .nav-link-active{
          border-bottom: 2px $color-orange solid;
        }
        .nav-link::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 100%;
          border-bottom: 2px $color-orange solid;
          left: 0;
          top: 0;
          visibility: hidden;
          transform: scaleX(0);
          transition: all 0.3s ease-in-out;
        }
        .nav-link:hover:before {
          visibility: visible;
          transform: scaleX(1);
        }
        .sign-up-button,
        .logout-button {
          padding: 0.5rem 1rem;
          margin: 0rem 1rem;
          border: 0;
          color: $color-content-light;
          background-color: $color-orange;
          border-radius: 0.25rem;
          transition: all 0.3s ease-in-out;
        }
        .sign-up-button:hover,
        .logout-button:hover {
          box-shadow: 2px 2px 10px $color-orange;
          cursor: pointer;
        }
      }
      .menu-button {
        color: $color-orange;
        display: none;
      }
    }
  }
  #logo {
    font-family: $font-logo;
    margin: 0rem 0.5rem;
    text-align: center;
    font-weight: 500;
    color:$color-orange;
  }
}

.sidebar {
  display: flex;
  padding: 2rem 1rem;
  width: 40%;
  height: 100%;
  background-color: #fff;
  .nav-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .nav-link {
      padding: 0.5rem 1rem;
      color: $color-orange;
      position: relative;
    }
    .nav-link::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      bottom: 0;
      background-color: $color-orange;
      visibility: hidden;
      transform: scaleX(0);
      transition: all 0.3s ease-in-out;
      // transform-origin: 0%;
    }
    .nav-link:hover:before {
      visibility: visible;
      transform: scaleX(1);
    }
    .sign-up-button,
    .logout-button {
      padding: 0.5rem 1rem;
      margin: 0rem 1rem;
      border: 0;
      color: $color-content-light;
      background-color: $color-orange;
      border-radius: 0.25rem;
      transition: all 0.3s ease-in-out;
    }
    .sign-up-button:hover,
    .logout-button:hover {
      box-shadow: 2px 2px 10px $color-orange;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: $tablet) {
  .layout {
    header {
      .header-content {
        width: 90%;
        .nav-links {
          display: none;
        }
        .menu-button {
          display: flex;
          width: 1.5rem;
          background: none;
          border: none;
          padding: 0.25rem;
        }
      }
      #logo {
        margin: 0rem 0.25rem;
        // text-align: center;
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .sidebar{
    width: 50%;
  }
}